html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: white;
}

body::-webkit-scrollbar-thumb {
  background-color: #d7d7df;
  border-radius: 20px;
}

.btn {
  background-color: transparent;
  border-radius: 150px;
  cursor: pointer;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.btn:hover {
  animation: pushed 0.4s;
}

@keyframes pushed {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

header {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 3em;
  max-width: 1200px;
  width: 95%;
}
header .logo {
  padding-left: 3em;
  width: 50%;
}
header .try {
  display: flex;
  justify-content: flex-end;
  padding-right: 3em;
  width: 50%;
}
header .try button {
  border: 1px solid #ff52bf;
  box-shadow: 0px 0px 5px #ff8fd8;
  color: #ff52bf;
  font-size: clamp(1rem, 2vw, 1rem);
  max-width: 300px;
  padding: 1em;
  width: clamp(9em, 20vw, 9em);
}

@media (max-width: 1000px) {
  header {
    margin-top: 1em;
  }
  header .logo {
    padding-left: 0;
  }
  header .logo img {
    width: 200px;
  }
  header .try {
    padding-right: 0em;
  }
  header .try button {
    font-size: 0.8rem;
  }
}
.start-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: auto;
  max-width: 1200px;
  margin-bottom: 4em;
  min-height: 80vh;
  width: 95%;
}
.start-content h1 {
  color: #00252e;
  font-family: "Poppins", sans-serif;
  font-size: clamp(2rem, 3.5vw, 4rem);
  margin: 0;
  text-align: center;
}
.start-content p {
  display: block;
  color: #00252e;
  font-family: "Open Sans", sans-serif;
  font-size: clamp(1rem, 1.3vw, 3rem);
  font-weight: 600;
  text-align: center;
  line-height: 1.5;
  width: 55%;
}
.start-content button {
  background-color: #ff52bf;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 0px 10px #ff8fd8;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: clamp(1rem, 1vw, 2rem);
  margin-top: 2em;
  max-width: 400px;
  padding: 2em;
  transition: all 0.25s ease;
  width: 50%;
}

@media (max-width: 1000px) {
  .start-content {
    margin-top: 15em;
    min-height: inherit;
  }
  .start-content h1, .start-content p {
    text-align: center;
    width: 100%;
  }
  .start-content button {
    padding: 1em;
    width: 80%;
  }
}
.section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-bottom: 3em;
  max-width: 1000px;
  width: 95%;
}
.section img {
  width: 90%;
}
.section .stats {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  width: 100%;
}
.section .stats .stat-section {
  align-items: start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
}
.section .stats .stat-section img {
  width: 3vw;
}
.section .stats .stat-section .stat_title {
  color: #00252e;
  font-family: "Poppins", sans-serif;
  font-size: clamp(2rem, 5vw, 5rem);
  margin: 0;
}
.section .stats .stat-section span {
  color: #ff52bf;
  font-family: "Open Sans", sans-serif;
}
.section.row {
  margin-top: 2em;
  max-width: inherit;
  padding: 14em 0em;
  position: relative;
  width: 100%;
}
.section.row .section-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  max-width: 1000px;
  width: 95%;
}
.section.row .section-wrapper .section-paragraph {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.section.row .section-wrapper .section-paragraph h2 {
  color: #00252e;
  font-family: "Poppins", sans-serif;
  font-size: clamp(2.2rem, 2vw, 4rem);
  margin: 0;
  text-align: left;
  width: 100%;
}
.section.row .section-wrapper .section-paragraph p {
  color: #00252e;
  font-family: "Open Sans", sans-serif;
  font-size: clamp(0.8rem, 0.9vw, 2rem);
  font-weight: 600;
  line-height: 1.5;
}
.section.row .section-wrapper img {
  width: 50%;
}
.section.row.inverted .section-wrapper .section-paragraph {
  padding-left: 4em;
}
.section.row.fill {
  background: linear-gradient(to bottom, #f6fbff 0%, #f6fbff 100%) no-repeat;
  background-position: center;
  background-size: 100% calc(100% - 19vw);
}
.section.row .top_img,
.section.row .bottom_img {
  position: absolute;
  width: 100%;
}
.section.row .top_img {
  top: 0;
}
.section.row .bottom_img {
  bottom: 0;
}
.section h2 {
  color: #00252e;
  font-family: "Poppins", sans-serif;
  font-size: clamp(2rem, 2vw, 3rem);
}
.section button {
  background-color: #ff52bf;
  border: none;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: clamp(1rem, 1vw, 2rem);
  margin-bottom: 5em;
  max-width: 300px;
  padding: 1.5em;
  width: 60%;
}

@media (max-width: 1000px) {
  .section .stats {
    flex-direction: column;
  }
  .section .stats .stat-section {
    align-items: center;
    width: 100%;
  }
  .section .stats .stat-section img {
    width: 15vw;
  }
  .section .stats .stat-section .stat_title {
    text-align: center;
    font-size: 4rem;
    width: 100%;
  }
  .section.row {
    margin-top: 0em;
    padding: 10em 0em;
  }
  .section.row .section-wrapper {
    flex-direction: column;
    flex-flow: column-reverse;
  }
  .section.row .section-wrapper img {
    width: 90%;
  }
  .section.row .section-wrapper .section-paragraph {
    margin-top: 2em;
    width: 90%;
  }
  .section.row .section-wrapper .section-paragraph h2,
.section.row .section-wrapper .section-paragraph p {
    text-align: center;
  }
  .section.row .section-wrapper .section-paragraph h2 {
    font-size: 1.5rem;
  }
  .section.row.inverted .section-wrapper {
    flex-flow: column;
  }
  .section.row.inverted .section-wrapper .section-paragraph {
    padding-left: 0em;
  }
  .section h2 {
    font-size: 1.4rem;
    text-align: center;
    width: 100%;
  }
  .section button {
    padding: 1em;
    width: 85%;
  }
}
footer {
  display: block;
  width: 100%;
}
footer > img {
  width: 100%;
}
footer .footer-wrapper {
  align-items: center;
  background-color: #00252e;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -0.5em;
}
footer .footer-wrapper .info {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}
footer .footer-wrapper .info > img {
  filter: invert(1);
  width: 40%;
}
footer .footer-wrapper .info p {
  color: #f5faff;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
  margin-top: 2em;
  width: 60%;
}
footer .footer-wrapper .info .icon-box {
  align-items: flex-start;
  color: #f5faff;
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: center;
  padding: 0.5em 0em;
}
footer .footer-wrapper .info .icon-box span {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
}
footer .footer-wrapper .info .socials {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: center;
  margin-bottom: 5em;
  margin-top: 3em;
  padding: 1em 0em;
}
footer .footer-wrapper .info .socials .fa, footer .footer-wrapper .info .socials .fab {
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
}
footer .footer-wrapper .info .socials .fa:hover, footer .footer-wrapper .info .socials .fab:hover {
  color: #ff8fd8;
}
footer .footer-wrapper .newsletter {
  align-items: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 18%;
  position: relative;
  width: 40%;
}
footer .footer-wrapper .newsletter h2 {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin: 0.2em;
  text-transform: uppercase;
}
footer .footer-wrapper .newsletter p {
  color: #f5faff;
  display: block;  
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
  width: 60%;
}
footer .footer-wrapper .newsletter form {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: flex-start;
  width: 100%;
}
footer .footer-wrapper .newsletter form input {
  border: none;
  border-radius: 6px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  outline: none;
  padding: 0.6em;
}
footer .footer-wrapper .newsletter form input[type=email] {
  width: 55%;
}
footer .footer-wrapper .newsletter form input[type=submit] {
  background-color: #ff52bf;
  color: #f5faff;
  cursor: pointer;
  font-weight: 600;
  width: 25%;
}
footer .footer-wrapper .newsletter form input[type=submit]:hover {
  background-color: #ff8fd8;
}
footer .footer-wrapper .newsletter span {
  bottom: -30%;
  color: #ff4242;
  display: none;
  font-family: "Open Sans", sans-serif;
  padding: 1em 0em;
  position: absolute;
}
footer span {
  background-color: #00252e;
  color: #fff;
  display: block;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 2em;
  min-height: 4vh;
  text-align: center;
  width: 100%;
}
footer span a {
  color: #31578f;
}

@media (max-width: 1000px) {
  footer .footer-wrapper {
    flex-direction: column-reverse;
  }
  footer .footer-wrapper .info, footer .footer-wrapper .newsletter {
    width: 95%;
  }
  footer .footer-wrapper .info > img {
    width: 60%;
  }
  footer .footer-wrapper .info p {
    width: 90%;
  }
  footer .footer-wrapper .newsletter p {
    width: 90%;
  }
  footer .footer-wrapper .newsletter form {
    align-items: flex-end;
    flex-direction: column;
    gap: 1em;
    width: 90%;
  }
  footer .footer-wrapper .newsletter form input[type=email] {
    width: 95%;
  }
  footer .footer-wrapper .newsletter form input[type=submit] {
    width: 40%;
  }
  footer .footer-wrapper .newsletter span {
    bottom: 0;
    font-size: 0.8rem;
  }
}