* {
    font-family: 'Rubik', sans-serif;
    padding:0;
    margin:0;
    }
    body {
        background-color: hsl(270, 20%, 96%);
        position:relative;
    }
    .chat-screen-primary {
        background-color: hsl(0, 0%, 100%);
        border:1px solid rgb(10, 10, 10);
        border-radius:60px 60px 50px 50px;
        box-shadow:10 10 10;
        height:83vh;
        left:10%;
        position: absolute;
        top:10%;
        width:20vw;
    }
    .chat-screen-secondry {
        background-color:  hsl(270, 7%, 84%);
        border:1px solid white;
        border-radius:60px 60px 50px 50px;
        height:78vh;
        left:5%;
        position:absolute;
        top:4%;
        width:18vw;
    }

    h1 {
        background-clip:text;
        background:linear-gradient(to right,  black, hsl(264, 100%, 61%));
        left:40%;
        position:absolute;
        top:40%;
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
    }
    h2 {
        color:white;
        font-size:16px;
        left:30%;
        position:absolute;
        top:5%;
    }
    h3 {
        color:hsl(270, 20%, 96%);
        font-size:11px;
        left:30%;
        position:absolute; 
        top:10%;
    }
    span {
        left:40%;
        position:absolute;
        top:50%;
        width:30vw;
    
    }
    .color {
        background-image: linear-gradient(to bottom right,  hsl(293, 100%, 63%), hsl(264, 100%, 61%));
        border-radius:0 0   50rem 0px;
        height:90vh;
        width:15rem;
    }
    .header {
        background-image: linear-gradient(to bottom right,  hsl(293, 100%, 63%), hsl(264, 100%, 61%));
        border-radius:30px 30px 0 0;
        height:80px;
    }
    .header img {
        border:1px solid white;
        border-radius: 50%;
        height: 40px;
        left:10%;
        position:absolute;
        top:5%;
        width:40px;
    }
    .top {
        width:10rem;
        border-radius:50px 50px 50px 50px;
        background-color:white;
        height:30px;
        position: absolute;
        top:-3%;
        left:20%
    }
    p {
        border:1px solid white;
        font-size: 14px;
        width:100px; 
    }
     .right1 {
        width:150px;
        height:40px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap:20px;
        position: absolute;
        top:41%;
        right:0%;  
        border-radius:10px 10px 0px 10px ;
        align-content:center;
        padding-left: 10px;
        color:hsl(271, 15%, 43%);
         
    }
    .right2 {
        width:150px;
        height:50px;
        position: absolute;
        top:49%;
        right:4%;  
        border-radius:10px 10px 0px 10px ;
        padding-left: 10px;
        font-size:16px;
        background-color: white;
        color:hsl(271, 15%, 43%);
        
    }
    .right1 img {
        width:30px;
        height:30px;   
        border-radius: 10px; 
    }
    .left1 {
        
        width:160px;
        height:50px;
        color: hsl(276, 55%, 52%);
        position: absolute;
        top:17%;
        left:4%;  
        border-radius:10px 10px 10px 0px ;
        padding-left: 10px;
        font-size:16px;
        background-color: white;
        text-align:center;
    }
    .left2 {
        width:160px;
        height:57px;
        color: hsl(276, 55%, 52%);
        position: absolute;
        top:30%;
        left:4%;  
        border-radius:10px 10px 10px 0px ;
        padding-left: 10px;
        font-size:16px;
        background-color: white;
        text-align:center;
    }
    
    .left3 {
        width:160px;
        height:95px;
        color: hsl(276, 55%, 52%);
        position: absolute;
        top:62%;
        left:4%;  
        border-radius:10px 10px 10px 0px ;
        padding-left: 10px;
        font-size:16px;
        background-color: white;
        text-align:center;
    }
    
    .left4 {
        width:160px;
        height:30px;
        color: hsl(285, 33%, 98%);
        position: absolute;
        top:82%;
        left:4%;  
        border-radius:10px 10px 10px 0px ;
        padding-left: 10px;
        font-size:16px;
        background-image: linear-gradient(to bottom right,  hsl(293, 100%, 63%), hsl(264, 100%, 61%));
        text-align:center;
    }
    input {
        position: absolute;
        top:92%;
        left:9%; 
        border-radius: 20px;
        border: none;
        height: 30px;
        width:15vw;
    }
    button {
        width:20px;
        height: 20px;
        border: none;
        position: absolute;
        top:93%;
        left: 81%;
        border-radius:50%;
        background-color:  hsl(271, 36%, 24%);  
        color:white;
    }

    .attribution { 
        font-size: 11px; 
        text-align: center; 
    }

    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }