* {
    margin: 0px;
    padding: 0px;
}

body {
    background: url(../../images/bg-mobile.png);
    background-repeat: round; 
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

.section {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

.boxOne {
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px 100px 10px 10px;
    width: 90%;
}

.logo {
    margin: 9%;
}

.icon {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 9%;
    margin-left: 9%;
    width: 50%;
}

.document , .folder , .upload {
    align-items: center;
    background-color: hsl(229, 57%, 11%);
    border-radius: 10px;
    display: flex;
    height: 20px;
    justify-content: center;
    padding: 7%;
    width: 20px;
}

.boxTwo {
    align-items: center;
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
    width: 90%;
}

.text {
    margin-top: 10%;
}

.text span {
    font-weight: bolder;
}

.bar {
    background-color: hsl(229, 57%, 11%);
    border-radius: 20px;
    margin-top: 5%;
    padding: 1%;
    width: 90%;   
}

.bar .insidebar {
    background-image: linear-gradient(to right, hsl(6, 100%, 80%) , hsl(335, 100%, 65%));
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
    padding: .5%;
    width: 81.5%;
}

.bar .insidebar .whiteball {
    background-color: white;
    border-radius: 10px;
    height: 10px;
    width: 4%;
}

.limit {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    margin-bottom:15% ;
    margin-top: 3%;
    width: 90%;
}



@media only screen and (min-width: 750px) {
    body {
        background-color: hsl(229, 57%, 11%) ;
        background-image: url(../../images/bg-desktop.png);
        background-position-y: bottom;
        background-repeat: repeat-x;
    }

    .section {
        align-content: center; 
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .boxOne {
        margin-right: 2%;
        width: 25%;
    }

    .boxTwo {
        margin-bottom: 1%;
        margin-left: 2%;
        width: 45%;
    }

    .text {
        align-self: flex-start;
        margin-left: 5%;
        margin-top: 5%;
    }

    .bar {
        margin-top: 3%;
        padding: 0.5%;
    }

    .bar .insidebar .whiteball {
        width: 2%;
    }

    .limit {
        margin-bottom:3%;
        margin-top: 1%;
    }
}