* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
#container{
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 300px;
    height: 500px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 30px;
}
.card:nth-of-type(1){
    padding: 40px;
    background-color: pink;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.card:nth-of-type(2){
    padding: 40px;
    background-color: lightskyblue;
}
.card:nth-of-type(3){
    padding: 40px;
    background-color: lightgreen;
}
.card:nth-of-type(4){
    padding: 40px;
    background-color: lightslategray;
}
.card:nth-of-type(5){
    padding: 40px;
    background-color: lightsalmon;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.card h1{
    font-family: sans-serif;
    color: brown;
    text-transform: uppercase;
    font-size: 30px;
}