html ,body{
    width:100%;
    height:100%;
    padding: 0;
    margin:0px;
  }
  
  #header{
     z-index: 10000;
     position: fixed;
    top: 0;
    width: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  .logo {
    display:flex;
    float: left;
    padding:0px 0px 0px 0px;
    margin-top:500px;
      width:100%;
    
  }
  /* ~~ Top Navigation Bar ~~ */
  
  #nav-bar {
    
    width: 1200px;
    margin: 0 auto;
    height: 80px;
  }
  
  .navigation-bar {
    background-color:black;
    opacity:0.9;
    height: 80px;
    width: 100%;
    padding:0px 0px 0px 0px;
    margin-top:0px;
    margin-bottom:0px;
    text-align:center;
  }
  .navigation-bar img{
  float:left;
   }
  
  .navigation-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
  }
  
  .navigation-bar li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
  }
  
  .navigation-bar li a {
    color: white;
    font-size: 18px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 90px;
    padding: 10px 15px;
    opacity: 0.9;
  }
  li a:hover {
      background-color: #555;
      color: white;
  }
  
  #menu {
    float: right;
  }
  
  @media screen and (max-width: 600px) {
      .topnav a {
          float: none;
          width: 100%;
      }
  }
  
  
  #slider{
    display:block;
    height: 100%;
    width:100%;
    background-color:;
    overflow: hidden;
    position: absolute;
  }
  
  slider> *{
    position:absolute;
    display: block;
    width:100%;
    height:100%;
    background:;
    animation:slide 15s infinite;
    overflow:hidden;
  }
  
  
  slide:nth-child(1){
    left:0%;
    animation-delay:-1s;
    background-image: url(https://www.sotc.in/images/home-page-banners/2018/july/Thailand-1920x800.jpg);
    background-size: cover;
    background-position: center;
  }
  
  
  slide:nth-child(2){
    animation-delay:2s;
    background-image: url(https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Ftrevornace%2Ffiles%2F2015%2F11%2Fsvalbard-norway-1200x671.jpg);
    background-size: cover;
    background-position: center;
  }
  
  slide:nth-child(3){
    animation-delay:5s;
    background-image: url(https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Ftrevornace%2Ffiles%2F2015%2F11%2Fpyramids-Giza-Egypt-1200x799.jpg);
    background-size: cover;
    background-position: center;
  }
  
  
  slide:nth-child(4){
    animation-delay:8s;
    background-image: url(https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Ftrevornace%2Ffiles%2F2015%2F11%2Fnorthern-lights-iceland-1200x556.jpg);
    background-size: cover;
    background-position: center;
  }
  
  slide:nth-child(5){
    animation-delay:11s;
    background-image: url(https://www.sotc.in/images/home-page-banners/2018/july/Dubai-1920x800.jpg);
    background-size: cover;
    background-position: center;
    
  }
  
  
  slide p{
    background-color: black;
    position: absolute;
    bottom: 40px;
    left: 20px;
    opacity:0.8;
    color:white;
    font-family: comfortaa;
    font-size:40px;
    font-align:center;
    display:inline-block;
    width:auto;
    height:auto;
   margin-top:340px;
   
    
      
  }
  
  
  @keyframes slide{
    0%{left: 100%; width:100%;}
    5%{left:0%;}
    25%{left:0%;}
    30%{left:-100%; width:100%;}
    30.0001%{left:-100%; width:0%;}
    100%{left:100%; width:0%;}
  }
  
  
  
     
      
  #flex-container {
    display: flex;
    height: 1300px;
    flex-wrap: wrap;
    align-content: stretch;
    background-color: white;
    margin:-560px 20px 30px 20px;
    padding:10px 10px 10px 10px
  }
  
  #flex-container > div {
    background-color: #f1f1f1;
    width: 300px;
    height:auto;
    margin: 20px 25px 20px 25px;
    text-align: center;
    
    font-size: 20px;
    
  }
  
  #flex-button{
     background-color:	#FFA500;
    border: 1px solid 	#FFA500;
    color: white;
    padding: 7px;
    text-align: center;
    font-size: 15px;
    margin-top:-15px;
    margin-bottom:0px;
    transition: 0.3s;
   
  }
  
  #flex-button:hover {
    box-shadow:5px 5px grey;
    border: 1px solid grey;
  }
  
  
  
  #how-it-works {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    
    iframe {
      max-width: 560px;
      width: 100%;
    }
   
  }
  
  
  
  #hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
    h2 {
      margin-bottom: 20px;
      word-wrap: break-word;
    }
  
    input[type="email"] {
      max-width: 275px;
      width: 100%;
      padding: 5px;
    }
  
    input[type="submit"] {
      max-width: 150px;
      width: 100%;
      height: 30px;
      margin: 15px 0;
      border: 0;
      background-color: #f1c40f;
      }
    
    @media (max-width: 650px) {
      margin-top: 120px;
    }
  }
  
  
  
  footer {
    margin-top: 10px;
    margin-bottom:10px;
    background-color: #ddd;
    padding: 8px;
    display:flex;
    justify-content: flex-end;
    
    
    span {
      margin-top: 0px;
      display: flex;
      justify-content: flex-end;
      font-size: 0.9em;
      color: #444;
    }
    
     @media (max-width: 700px) {
      margin-top:0px;
    }
    
  }